* {
    box-sizing: border-box;
  }
  .form-control
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }

  .btn-save{
      font: inherit;
      margin: auto;
  }

  .message {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    margin-top: 5rem;
    background-color: rgb(25, 90, 25);
    color: #fff;
    border-radius: 10px;
  }

  .btn-save {
    background-color: rgba(24, 109, 143, 0.76);
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .btn-remove {
    background: #c51d25;
    font: inherit;
    border: 1px solid #c51d25;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
  }